{% extends "base.html" %}
{% load static %}
<!-- ### -->


{% block title_head %}
    Buscar cliente
{% endblock title_head %}

{% block h1_header %}
    Pantalla inicio buscar cliente
{% endblock h1_header %}

{% block main %}

<form action={% url "inicio:buscar_persona" %}>

    {{form}}

    <input type="submit">
</form>
{% if personas %}
    <ul>    
        {% for i in personas %}
            <li>{{i}}</li>
        {% endfor %}
    </ul>
{% else %}
<p>No hay personas registradas.</p>
{% endif %}

{% endblock main %}
