{% extends "base.html" %}

{% load static %}

{% block title_head %}
    Cargar cliente
{% endblock title_head %}

{% block h1_header %}
    Pantalla inicio cargar cliente
{% endblock h1_header %}

{% block main %}
<div class="container">
    <h2>Cargar Cliente</h2>
    <form action="{% url 'inicio:crear_persona' %}" method="POST">
        {% csrf_token %}

        <div class="mb-3">
            <label for="{{ form.nombre.id_for_label }}" class="form-label">{{ form.nombre.label }}</label>
            {{ form.nombre }}
        </div>

        <div class="mb-3">
            <label for="{{ form.apellido.id_for_label }}" class="form-label">{{ form.apellido.label }}</label>
            {{ form.apellido }}
        </div>

        <div class="mb-3">
            <label for="{{ form.dni.id_for_label }}" class="form-label">{{ form.dni.label }}</label>
            {{ form.dni }}
        </div>

        <div class="mb-3">
            <label for="{{ form.edad.id_for_label }}" class="form-label">{{ form.edad.label }}</label>
            {{ form.edad }}
        </div>

        <input type="submit" class="btn btn-primary" value="Enviar">
    </form>
</div>
{% endblock main %}